@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Admin GreenRoad</h1>
    <p class="lead">
        Green Road é a rede social que proporciona a união e a disceminação de informação para aqueles que procuram ou já cultivam hortas em casa
        Além de dispnibilizar um comercio entre os cultivos!
    </p>
    <p><a title="Em Desenvolvimento" class="btn btn-primary btn-lg">Acesse! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Sobre esta pagina</h2>
        <p>
            Aqui você terá acesso ao dados relacionados a rede GreenRoad, podendo manipulalos da forma que entender! Registre-se e esperimente!
        </p>
        <p>@Html.ActionLink("Registe-se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-6">
        <h2>Sobre o desenvolvimento</h2>
        <p>Esta pagina foi desenvolvida por Igor Imperiali Fernandes, para demonstrar seus conhecimento em ASP.NET no instituto de Tecnologia INFNET.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/igor-imperiali-823958102/">Saiba mais &raquo;</a></p>
    </div>    
</div>